@font-face {
  font-family: 'Geometric';
  src: url('Geometric.svg#Geometric') format('svg'),
       url('Geometric.ttf') format('truetype'),
       url('Geometric.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometric_pw';
  src: url('geometric_pw.eot');
  src: url('geometric_pw.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

