/* Declarando as varioaveis de estilo globais  */

:root {
    /* fontes  */
    --fontLogo: Geometric;
    --fontTitulo: Nunito;
    --fontCorpo: Roboto;
    --fontCorpo2: green;
    /* Cores  */
    /* Breakpoints*/
    --Desktop: 1200px;
    --Tablet: 960px;
    --Mobile: 768px;
    /*    Artigo de referencia para os breaks  */
    /*    https://www.chiefofdesign.com.br/design-responsivo/breakpoints/ */
}

@font-face {
    font-family: 'Geometric';
    src: url('/font-geometric/geometric_pw.eot');
    src: url('/font-geometric/geometric_pw.eot?#iefix') format('embedded-opentype'), url('/font-geometric/Geometric.woff') format('woff'), url('/font-geometric/Geometric.ttf') format('truetype'), url('/font-geometric/Geometric.svg#Geometric') format('svg');
    font-weight: bold;
    font-style: bold;
}

ul.slick-dots li {
    width: auto;
    font-weight: 600;
    margin: 0 0.6em;
}

ul.slick-dots li a:hover,
ul.slick-dots li.slick-active a {
    color: white;
}

ul.slick-dots {
    bottom: -45px;
}

@media (max-width: 541px) {
    ul.slick-dots {
        bottom: -75px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

body {
    background-color: #1C043C;
}