/* Declarando as varioaveis de estilo globais  */

:root {
    /* fontes  */
    --fontTitulo: Nunito;
    --fontCorpo: Roboto;
    --fontCorpo2: green;
    /* Cores  */
    /* Breakpoints*/
    --Desktop: 1200px;
    --Tablet: 960px;
    --Mobile: 768px;
    /*    Artigo de referencia para os breaks  */
    /*    https://www.chiefofdesign.com.br/design-responsivo/breakpoints/ */
}

body {
    background-color: #1C043C;
    margin: 0;
}

.botao {
    font-family: var(--fontCorpo);
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;
    border-color: #fff;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

.botao:hover {
    color: #520082;
    background-color: #fff;
}

.titulo {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 50px;
}

.itens {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0;
    margin-bottom: 40px;
}


/* ------- Banner -------- */


/* ------- Informações Gerais -------- */


/* ------- Patrocínio -------- */


/* ------- Apoio -------- */

#apoio img {
    width: 100%;
}

#apoio .itensApoio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

#apoio .itensApoio .itemApoio {
    margin: 0 50px;
    margin-bottom: 60px;
}

#apoio .itensApoio .itemApoio img {
    max-width: 400px;
}